body {
    text-align: center;
}

nav {
    background-color:#023047;
    padding: 10px;
}

a {
    color: white;
    margin: 40px;
    line-height: 1.5em;
}

h1, h2 {
    color: #219EBC;
}

img {
    width: 800px;
    border: 4px solid #219EBC;
}

p {
    padding: 10px;
}

#active {
    background-color: white;
    color: #FFB703;
}